@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.container-top {
  max-width: 100%;
  margin-bottom: 50px;
}

.container-top .top-profile {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-top .top-profile .profile-image {
  position: relative;
}

.container-top .top-profile .profile-image .main-img {
  border-radius: 50%;
  width: 104px;
  height: 104px;
  -webkit-box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.7);
}

.container-top .top-profile .profile-image .profile-emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  top: 76px;
  left: 76px;
  -webkit-box-shadow: 0px 0px 16px rgba(79, 79, 80, 0.15);
          box-shadow: 0px 0px 16px rgba(79, 79, 80, 0.15);
}

.container-top .top-profile .profile-image .profile-emoji .emoji {
  width: 13px;
  height: 13px;
}

.container-top .top-profile .profile-name {
  margin-top: 16px;
}

.container-top .top-profile .profile-name h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.container-top .top-profile .profile-description {
  max-width: 217px;
  text-align: center;
  margin-top: 4px;
}

.container-top .top-profile .profile-description span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #989898;
}

.container-top .top-profile .additional-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  width: 100%;
}

.container-top .top-profile .additional-information .menu-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.container-top .top-profile .additional-information .menu-informations h2 {
  color: #0587FF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.container-top .top-profile .additional-information .menu-informations .arrow-down {
  margin-top: 11px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container-top .top-profile .additional-information .menu-informations .active {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.container-top .top-profile .additional-information .informations {
  background: #F8F8F8;
  border-radius: 16px;
  width: 90%;
  padding: 0px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container-top .top-profile .additional-information .informations .info {
  padding: 8px;
}

.container-top .top-profile .additional-information .informations .text-information {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #0587FF;
}

.container-top .top-profile .additional-information .show-informations {
  height: auto;
  opacity: 1;
  visibility: visible;
  padding: 8px;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-content .tittle-repository, .top-content .tittle-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-content .tittle-repository h1, .top-content .tittle-star h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin-left: 11px;
}

.top-content .tittle-repository img, .top-content .tittle-repository h1, .top-content .tittle-star img, .top-content .tittle-star h1 {
  opacity: 0.5;
}

.top-content .tittle-repository .quantity, .top-content .tittle-star .quantity {
  background-color: #F8F8F8;
  border: 1px solid #DBDBDB;
  border-radius: 59px;
  width: 40px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
}

.top-content .tittle-repository .quantity span, .top-content .tittle-star .quantity span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #989898;
}

.container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-search .search-filter {
  background-color: #F8F8F8;
  border-radius: 8px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  padding: 12px 8px;
}

.container-search .search-filter .filter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-search .search-filter .filter-content .type-filter, .container-search .search-filter .filter-content .language-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px 8px 8px;
  margin-right: 8px;
  border-radius: 42px;
  background: linear-gradient(89.89deg, #0056A6 -30.01%, #0587FF 125.65%);
}

.container-search .search-filter .filter-content .type-filter img, .container-search .search-filter .filter-content .language-filter img {
  margin-right: 14px;
}

.container-search .search-filter .filter-content .type-filter span, .container-search .search-filter .filter-content .language-filter span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.container-search .search-filter .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container-search .search-filter .search-area #input-search {
  border: none;
  height: 32px;
  width: 90%;
  outline: none;
  background-color: #f8f8f8;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.container-search .search-filter .search-area #input-search:focus {
  margin-left: 20px;
}

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-content .content {
  margin-top: 32px;
  width: 93%;
  border-bottom: 1px solid #F8F8F8;
  padding-bottom: 34px;
}

.container-content .content .tittle {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.container-content .content .tittle .part2 {
  color: #0587FF;
  font-weight: 600;
  letter-spacing: 1px;
}

.container-content .content .subtittle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #989898;
  margin-top: 16px;
}

.container-content .content .star-fork, .container-content .content .language-fork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.container-content .content .star-fork .stars, .container-content .content .star-fork .forks, .container-content .content .star-fork .language-starred, .container-content .content .language-fork .stars, .container-content .content .language-fork .forks, .container-content .content .language-fork .language-starred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 36px;
}

.container-content .content .star-fork .stars img, .container-content .content .star-fork .forks img, .container-content .content .star-fork .language-starred img, .container-content .content .language-fork .stars img, .container-content .content .language-fork .forks img, .container-content .content .language-fork .language-starred img {
  margin-right: 10px;
}

.content-starreds {
  display: none;
}

.content-repositories {
  display: none;
}

.show-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-top-content {
  padding-bottom: 6px;
  border-bottom: 2px solid #FD8C73;
}

.show-top-content .tittle-repository img, .show-top-content .tittle-repository h1, .show-top-content .tittle-star img, .show-top-content .tittle-star h1 {
  opacity: 1 !important;
}

.open-filter {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

.filter-type, .filter-language {
  position: fixed;
  background-color: #fff;
  height: 90%;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
  cursor: move;
}

.filter-type::after, .filter-language::after {
  content: "";
  position: absolute;
  background: #C4C4C4;
  border-radius: 5px;
  width: 100px;
  height: 8px;
  top: 16px;
  left: 37%;
  right: 37%;
}

.filter-type .container-filters, .filter-language .container-filters {
  padding: 24px;
  cursor: move;
}

.filter-type .title-filter, .filter-language .title-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 40px;
}

.filter-type .checkboxes, .filter-language .checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 16px 18px;
  list-style: none;
}

.filter-type .checkboxes li, .filter-language .checkboxes li {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-type .checkboxes li input, .filter-language .checkboxes li input {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.container-geral {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  display: none;
}

.over-active {
  overflow: hidden;
}

.over-active .overlay {
  display: block;
}
/*# sourceMappingURL=style.css.map */